**/target/
**/node_modules/

# Python related files
.venv
.pytest_cache
.ruff_cache

# Rust Files
**/target

# General files
.env
.env.local
.benchmarks/
__pycache__/
/client_sdks/python/tacoq.egg-info
