DATABASE_URL=postgresql://user:password@localhost:5432/fasttq
FASTTQ_BROKER_ADDR=amqp://user:password@localhost:5672
FASTTQ_DATABASE_READER_URL=postgresql://user:password@localhost:5432/fasttq
FASTTQ_DATABASE_WRITER_URL=postgresql://user:password@localhost:5432/fasttq
OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4318/v1/traces