@import "tailwindcss";

/* Control dark mode manually */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Geist Font */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom animations */
  --animate-slide-in-down: slide-in-down 0.25s ease-in-out forwards;
  --animate-slide-in-up: slide-in-up 0.25s ease-in-out forwards;
  --animate-slide-out-down: slide-out-down 0.25s ease-in-out;
  --animate-slide-out-up: slide-out-up 0.25s ease-in-out;

  @keyframes slide-in-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes slide-in-up {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes slide-out-down {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  @keyframes slide-out-up {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
}

/*Custom scrollbar utilities*/
@utility custom-body-scrollbar {
  scrollbar-color: oklch(0.705 0.015 286.067) transparent; /*gray-400*/

  &::-webkit-scrollbar-thumb {
    background-color: oklch(0.705 0.015 286.067); /*gray-400*/
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@utility custom-scrollbar {
  scrollbar-width: thin;

  scrollbar-color: oklch(0.92 0.004 286.32) transparent; /*gray-200*/

  &:hover {
    scrollbar-color: oklch(0.92 0.004 286.32) transparent; /*gray-200*/
  }

  :is(.dark &) {
    scrollbar-color: oklch(0.21 0.006 285.885) transparent; /*gray-900*/

    &:hover {
      scrollbar-color: oklch(0.21 0.006 285.885) transparent; /*gray-900*/
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: oklch(0.92 0.004 286.32); /*gray-200*/
    border-radius: 20px;

    :is(.dark &) {
      background-color: oklch(0.21 0.006 285.885); /*gray-900*/
    }

    &:hover {
      background-color: oklch(0.92 0.004 286.32); /*gray-200*/

      :is(.dark &) {
        background-color: oklch(0.21 0.006 285.885); /*gray-900*/
      }
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

/* Custom tab outline */
.custom-tab-outline-offset-0 {
  @apply outline-transparent focus:outline-transparent focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-zinc-500 dark:focus-visible:outline-zinc-300;
}

.custom-tab-outline-offset-2 {
  @apply outline-transparent focus:outline-transparent focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-500 dark:focus-visible:outline-zinc-300;
}

.custom-tab-outline-offset-4 {
  @apply outline-transparent focus:outline-transparent focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-zinc-500 dark:focus-visible:outline-zinc-300;
}

.custom-tab-outline-offset-6 {
  @apply outline-transparent focus:outline-transparent focus-visible:outline-2 focus-visible:outline-offset-6 focus-visible:outline-zinc-500 dark:focus-visible:outline-zinc-300;
}

/* Code Block Base Styles */
.code-highlight {
  float: left;
  min-width: 100%;
}

.code-line {
  display: block;
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
  min-width: 100%;
  padding-right: 20px;
}

.code-line.inserted {
  background-color: oklch(0.723 0.219 149.579 / 0.1);
  border-left: 4px solid oklch(0.723 0.219 149.579);
}

.code-line.deleted {
  background-color: oklch(
    0.637 0.237 25.331 / 0.1
  ); /* Set deleted line (-) color */
  border-left: 4px solid oklch(0.637 0.237 25.331); /* Set highlight accent border color */
}

.highlight-line {
  background-color: oklch(0.623 0.214 259.815 / 0.1);
  border-left: 4px solid oklch(0.623 0.214 259.815);
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 18px;
  margin-left: 18px;
  color: oklch(0.705 0.015 286.067);
  content: attr(line);
}

/*Syntax Token Highlighting*/
.namespace {
  opacity: 0.7;
}

.language-css .token.string.url {
  text-decoration: underline;
}

.token.italic {
  font-style: italic;
}

.token.doctype .token.doctype-tag,
.token.operator.arrow,
.token.keyword,
.token.important,
.token.boolean,
.token.punctuation.interpolation-punctuation,
.token.tag,
.token.entity,
.token.boolean {
  color: #569cd6;
}

.token.doctype .token.name,
.token.atrule .token.url,
.token.constant,
.token.console,
.token.parameter,
.token.interpolation,
.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name,
.token.attr-name,
.token.constant,
.token.property,
.token.variable {
  color: #9cdcfe;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted,
.token.atrule,
.token.attr-value,
.token.attr-value .token.punctuation {
  color: #ce9178;
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation,
.token.operator,
.token.entity,
.token.atrule .token.url .token.punctuation,
.token.attr-value .token.punctuation.attr-equals {
  color: #d4d4d4;
}

.token.tag .token.punctuation,
.token.cdata,
.language-html .token.punctuation {
  color: #808080;
}

.token.comment,
.token.prolog {
  color: #6a9955;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
  color: #b5cea8;
}

.token.atrule .token.rule,
.token.keyword.module,
.token.keyword.control-flow {
  color: #c586c0;
}

.token.atrule .token.url .token.function,
.token.function,
.token.function .token.maybe-class-name,
.language-regex .token.anchor {
  color: #dcdcaa;
}

.token.class-name,
.token.maybe-class-name,
.token.namespace {
  color: #4ec9b0;
}

.token.regex {
  color: #d16969;
}

.token.selector,
.token.escape {
  color: #d7ba7d;
}
